#home{
    .home-page{
        background-color: #121214;
        .container{
            .slider-img-text{
                display: flex;
                .slider-text{
                    width: 35%;
                    padding: 130px 15px;
                    .h1-slider{
                        font-size: 60px;
                        color: #fff;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        margin-bottom: 25px;
                    }
                    .h3-slider{
                        font-size: 30px;
                        color: #fff;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 400;
                        margin-bottom: 35px;
                        .span-slider{
                            color: #00e5b0;
                        }
                    }
                    .btn-slider-1{
                        width: 200px;
                        height: 60px;
                        background-color: #f9bc35;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        font-size: 16px;
                        border-radius: 5px;
                        transition: all 0.5s;
                        margin-right: 15px;
                        &:hover{
                            background-color: #00e5b0;
                            cursor: pointer;
                        }
                    }
                    .btn-slider-2{
                        font-size: 16px;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        border-bottom: 2px solid #121214;
                        background-color: transparent;
                        transition: all 0.5s;
                        &:hover{
                            border-bottom: 2px solid #fff;
                            cursor: pointer;
                        }
                    }
                }
                .slider-img{
                    width: 65%;
                }
            }
            .slider-img-text-2{
                display: flex;
                .slider-img-2{
                    width: 60%;
                }
                .slider-text-2{
                    width: 40%;
                    padding: 150px 25px;
                    .slider-h1-2{
                        color: #fff;
                        font-size: 60px;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        margin-bottom: 25px;
                    }
                    .btn-slider-start{
                        background-color: #159ce4;
                        width: 220px;
                        height: 60px;
                        font-size: 16px;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        transition: all 0.5s;
                        margin-right: 15px;
                        border-radius: 5px;
                        &:hover{
                            background-color: #00e5b0;
                            cursor: pointer;
                        }
                    }
                    .btn-slider-detail{
                        font-size: 16px;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        border-bottom: 2px solid #121214;
                        background-color: transparent;
                        transition: all 0.5s;
                        &:hover{
                            border-bottom: 2px solid #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
            .slider-img-text-3{
                display: flex;
                .slider-text-3{
                    width: 45%;
                    padding: 130px 15px;
                    .h1-slider{
                        font-size: 60px;
                        color: #fff;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        margin-bottom: 25px;
                    }
                    .h3-slider-3{
                        color: #fff;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        margin-bottom: 25px;
                    }
                    .btn-slider-list{
                        width: 200px;
                        height: 60px;
                        background-color: #fd4e26;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        font-size: 16px;
                        border-radius: 5px;
                        transition: all 0.5s;
                        margin-right: 15px;
                        &:hover{
                            background-color: #00e5b0;
                            cursor: pointer;
                        }
                    }
                    .btn-slider-how{
                        font-size: 16px;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-weight: 700;
                        color: #fff;
                        border: none;
                        border-bottom: 2px solid #121214;
                        background-color: transparent;
                        transition: all 0.5s;
                        &:hover{
                            border-bottom: 2px solid #fff;
                            cursor: pointer;
                        }
                    }
                }
                .slider-img-3{
                    width: 55%;
                }
            }
        }
    }
    .container{
      .search-job{
        margin-top: 30px;
        .find-job{
            width: 200px;
            height: 60px;
            border: 2px solid #121214;
            border-radius: 3px;
            background-color: #121214;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-bottom: 40px;
            box-shadow: rgba(249, 249, 254, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
            .find-h1{
                font-size: 16px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 700;
                color: #fff;
            }
        }
        .input-search{
            margin-bottom: 160px;
            .keywords-input{
                width: 350px;
                height: 60px;
                background-color: #d6dce5;
                border: none;
                font-size: 16px;
                font-family: 'IBM Plex Sans', sans-serif;
                padding-left: 20px;
                border-radius: 5px;
                margin-right: 65px;
                &:focus{
                    background-color: #fff;
                    border: 1px solid #fff;
                    box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
            }
            .specialisms{
                width: 300px;
                height: 60px;
                background-color: #d6dce5;
                border: none;
                font-size: 16px;
                font-family: 'IBM Plex Sans', sans-serif;
                padding-left: 20px;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.4s;
                &:hover{
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
                .search-option{
                    background-color: #fff;
                    cursor: pointer;
                }
            }
            .search-btn{
                width: 150px;
                height: 60px;
                font-size: 16px;
                color: #fff;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 700;
                background-color: #121214;
                border: 3px solid #121214;
                transition: all 0.5s;
                border-radius: 3px;
                &:hover{
                    border: 3px solid #121214;
                    background-color: #fff;
                    color: #121214;
                    cursor: pointer;
                }
            }
        }
      }
      .specialisms-jobs{
        margin: 60px 0;
        .text-specialisms{
            display: flex;
            justify-content: space-between;
            .h1-div{
                width: 35%;
                .text-h1-specialisms{
                    font-size: 36px;
                    font-family: 'IBM Plex Sans', sans-serif;
                    border-top: 11px solid #00e5b0;
                    padding-top: 30px;
                    margin-right: 30px;
                }
            }
            .p-div{
                width: 65%;
                .p-text-specialisms{
                    font-size: 20px;
                    font-family: 'IBM Plex Sans', sans-serif;
                    line-height: 30px;
                }
            }
        }
      }
    }
}