.get-started-page{
    background-color: #00e5b0;
    .container{
        .get-started-text{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 115px 0;
            .started-h1{
                font-size: 36px;
                color: #121214;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 700;
                border-top: 11px solid #121214;
                padding-top: 25px;
            }
            .started-p{
                font-size: 20px;
                color: #121214;
                font-family: 'IBM Plex Sans', sans-serif;
                width: 45%;
            }
            .btn-sign-up{
                width: 200px;
                height: 60px;
                font-size: 16px;
                color: #fff;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 700;
                background-color: #121214;
                border: 3px solid #121214;
                transition: all 0.5s;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 15px;
                &:hover{
                    border: 3px solid #121214;
                    background-color: #fff;
                    color: #121214;
                    cursor: pointer;
                }
            }
        }
    }
}
.register{
    padding-left: 60px;
    .register-h2{
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        color: #121214;
    }
    .first-name{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        .first{
            color: #121214;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
            padding-bottom: 10px;
        }
        .input{
            width: 360px;
            height: 60px;
            background-color: #d6dce5;
            border: none;
            border-radius: 7px;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 10px;
            font-weight: 700;
            &:focus{
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border: #fff;
                outline: none;
            }
        }
    }
    .last-name{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        .last{
            color: #121214;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
            padding-bottom: 10px;
        }
        .input{
            width: 360px;
            height: 60px;
            background-color: #d6dce5;
            border: none;
            border-radius: 7px;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 10px;
            font-weight: 700;
            &:focus{
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border: #fff;
                outline: none;
            }
        }
    }
    .password{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        .pswrd{
            color: #121214;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
            padding-bottom: 10px;
        }
        .input{
            width: 360px;
            height: 60px;
            background-color: #d6dce5;
            border: none;
            border-radius: 7px;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 10px;
            font-weight: 700;
            margin-bottom: 10px;
            &:focus{
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border: #fff;
                outline: none;
            }
        }
    }
    .btn-group{
        display: flex;
        flex-direction: column;
        .create-btn{
            background-color: #01bb86;
            width: 360px;
            height: 60px;
            border: 2px solid #01bb86;
            border-radius: 5px;
            font-size: 16px;
            color: #fff;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
            transition: all 0.5s;
            margin-bottom: 10px;
            &:hover{
                cursor: pointer;
                background-color: #fff;
                color: #121214;
                
            }
        }
        .log-btn{
            background-color: #fff;
            width: 360px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 5px;
            font-size: 16px;
            color: #121214;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
            transition: all 0.5s;
            margin-bottom: 10px;
            &:active{
                cursor: pointer;
                background-color: #00e5b0;
                color: #fff;
                
            }
        }
    }
}
.ant-modal-footer{
    display: none;
}