#header{
    .main-header{
        background-color: #121214;
        padding: 30px 0;
        .container{
            .header-in-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    width: 120px;
                    height: 40px;
                    .logo-img{
                        width: 100%;
                        height: 100%;
                    }
                }
                nav{
                    ul{
                        display: flex;
                        column-gap: 30px;
                        li{
                            list-style: none;
                            font-family: 'IBM Plex Sans', sans-serif;
                            a{
                                color: #fff;
                                text-decoration: none;
                                &:hover{
                                    border-bottom: 2px solid #fff;
                                }
                            }
                        }
                    }
                    .burger{
                        display: none !important;
                    }
                    @media only screen and (max-width: 992px){
                        position: relative;
                        .list{
                            display: none;
                            
                        }
                        .burger{
                            display: block !important;
                            position: absolute;
                            z-index: 20;
                            top: 50%;
                            font-size: 2rem;
                            right: 10%;
                        }
                        .mobile{
                            display: block;
                            position: absolute;
                            background-color: #121214;
                            width: 100%;
                            top: 100%;
                            padding: 20px;
                            z-index: 12;
                            left:0%;
                            padding: 20px;
                            li{
                                padding: 10px 0;
                            }
                        }
                    }
                }
                .sign-log-in-btn{
                    display: flex;
                    column-gap: 25px;
                    .sign-up{
                        border: 2px solid #121214;
                        background-color: #121214;
                        color: #fff;
                        transition: all 0.5s;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-size: 16px;
                        &:hover{
                            border-bottom: 2px solid #fff;
                            cursor: pointer;
                        }
                    }
                    .log-in{
                        border: none;
                        background-color: #00e5b0;
                        width: 85px;
                        height: 35px;
                        color: #121214;
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-size: 16px;
                        transition: all 0.5s;
                        border-radius: 3px;
                        position: relative;
                        &:hover{
                            cursor: pointer;
                            color: #fff;
                            background-color: transparent;
                        }
                    }
                }
                .select-language{
                    .lng-slct{
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #121214;
                        color: #fff;
                        font-family: 'IBM Plex Sans', sans-serif;
                        cursor: pointer;
                        font-size: 16px;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }
                        .option{
                            color: #121214;
                            font-family: 'IBM Plex Sans', sans-serif;
                        }
                    }
                }
            }
        }
        .log_in{
            position: absolute;
            top: 2%;
            left: 34%;
            z-index: 3;
        }
    }
}
